@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$main-color: #333;
$main-background: #fff;
$second-background: #333;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
ul, li{
    list-style: none;
}
a{
    color: $main-color;
    text-decoration: none;
}
header{
    padding: 10px 10px 0 10px;
}
.nav-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-menu{
        display: flex;
        li{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .slogan{
        span{
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.right-menu{
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        display: block;
        width: 40px;
        height: 2px;
        background-color: #666;
        position: relative;
        transition: transform 0.4s ease;
        &::after{
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background-color: #666;
            top: 6px;
        }
    }
}
.right-menu.active{
    span{
        top: 0;
        transform: rotate(45deg);
        &::after{
            top: 0;
            transform: rotate(-90deg);
        }
    }
}
.introduce{
    margin-top: 40px;
    text-align: center;
    h1{
        font-weight: 900;
        font-size: 40px;
    }
    p{
        color: #666;
    }
}
// ================= SIDEBAR ================
.sidebar{
    position: fixed;
    width: 240px;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: $main-background;
    height: 100%;
    border-right: 1px solid #ddd;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 30px 7px 10px 8px;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
    .sidebar-content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .sidebar-item{
            display: block;
            padding: 10px 0;
            a{
                display: block;
                &:hover{
                    color: royalblue;
                }
            }
        }
    }
}
.sidebar.open-sidebar{
    transform: translateX(0);
}
// =================== GRID ==================
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.row::after,.row::before{
    box-sizing: border-box;
}
[class*="col-"]{
    padding: 10px;
}

/* Small devives <= 600px */
@media only screen and (max-width:600px){
    [class*="col-"]{
        width: 100%;
    }
}

/* Small devices greater >= 600px */
@media only screen and (min-width:600px){
    [class*="col-"]{
        width: 100%;
    }
    .col-sm-1{width:8.33%}
    .col-sm-2{width:16.66%}
    .col-sm-3{width:25%}
    .col-sm-4{width:33.33%}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width:50%}
    .col-sm-7{width:58.33%}
    .col-sm-8{width:66.66%}
    .col-sm-9{width:75%}
    .col-sm-10{width:83.33%}
    .col-sm-11{width:91.66%}
    .col-sm-12{width: 100%;}
}

/* Medium divices >= 768px */
@media only screen and (min-width:768px){
    .col-m-1{width:8.33%}
    .col-m-2{width:16.66%}
    .col-m-3{width:25%}
    .col-m-4{width:33.33%}
    .col-m-5{width: 41.66%;}
    .col-m-6{width:50%}
    .col-m-7{width:58.33%}
    .col-m-8{width:66.66%}
    .col-m-9{width:75%}
    .col-m-10{width:83.33%}
    .col-m-11{width:91.66%}
    .col-m-12{width: 100%;}
}

/* Laptop/desktop >= 992px */
@media only screen and (min-width:992px){
    .col-1{width:8.33%}
    .col-2{width:16.66%}
    .col-3{width:25%}
    .col-4{width:33.33%}
    .col-5{width: 41.66%;}
    .col-6{width:50%}
    .col-7{width:58.33%}
    .col-8{width:66.66%}
    .col-9{width:75%}
    .col-10{width:83.33%}
    .col-11{width:91.66%}
    .col-12{width: 100%;}
}

/* Large laptop and desktop >= 1200px */
@media only screen and (min-width:1200px){
    .col-xl-1{width:8.33%}
    .col-xl-2{width:16.66%}
    .col-xl-3{width:25%}
    .col-xl-4{width:33.33%}
    .col-xl-5{width: 41.66%;}
    .col-xl-6{width:50%}
    .col-xl-7{width:58.33%}
    .col-xl-8{width:66.66%}
    .col-xl-9{width:75%}
    .col-xl-10{width:83.33%}
    .col-xl-11{width:91.66%}
    .col-xl-12{width: 100%;}
}
// ============== CSS FOR ARTICLE INDEX =============
.article-latest{
    width: 100%;
    .article-latest-thumb{
        width: 55%;
        display: inline-block;
        vertical-align: middle;
        img{
            width: 100%;
        }
    }
    .article-latest-des{
        width: 48%;
        background-color: #fff;
        margin-left: -52px;
        display: inline-block;
        padding: 30px;
        position: relative;
        z-index: 1;
        vertical-align: middle;
        font-family: 'Karla', sans-serif;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
        .article-latest-title{
            font-weight: 600;
            margin-bottom: 10px;
        }
        .article-latest-author{
            margin: 10px 0;
        }
        .latest-time{
            margin-top: 10px;
            border-top: 1px solid #eee;
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            font-size: 14px;
        }
    }
}
// ===================== FOOTER =====================
footer{
    .footer-container{
        width: 100%;
        padding: 70px 10px;
        background-color: #222;
        color: #fff;
        .footer-content{
            font-family: 'Karla', sans-serif;
            text-align: center;
        }
    }
}