@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #4169e1;
}

img {
  max-width: 100%;
  border: 0;
}

header {
  padding: 10px 10px 0 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  background-color: #fff;
}

.nav-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .left-menu li {
  display: inline-block;
  margin-right: 10px;
}

.nav-container .left-menu li a {
  display: inline-block;
}

.nav-container .left-menu li a i {
  font-size: 18px;
}

.nav-container .slogan span {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1310px) {
  .container {
    width: 1280px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.right-menu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-menu span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #666;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.right-menu span::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: #666;
  top: 6px;
}

.right-menu.active span {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.right-menu.active span::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.introduce {
  margin-top: 40px;
  text-align: center;
}

.introduce h1 {
  font-weight: 900;
  font-size: 40px;
}

.introduce p {
  color: #666;
}

.sidebar {
  position: fixed;
  width: 240px;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #222;
  color: #fff;
  height: 100%;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 30px 7px 10px 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}

.sidebar .sidebar-content {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .sidebar-content .sidebar-item {
  display: block;
  padding: 10px 0;
}

.sidebar .sidebar-content .sidebar-item a {
  color: #fff;
  display: block;
}

.sidebar .sidebar-content .sidebar-item a:hover {
  color: royalblue;
}

.sidebar.open-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row::after, .row::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

/* Small devives <= 600px */
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

/* Small devices greater >= 600px */
@media only screen and (min-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium divices >= 768px */
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* Laptop/desktop >= 992px */
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Large laptop and desktop >= 1200px */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.category {
  position: relative;
}

.category a {
  position: relative;
  height: 280px;
  overflow: hidden;
  display: block;
}

.category a img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.category a .category-name {
  position: absolute;
  padding: 10px 50px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.category a:hover {
  color: inherit;
}

.category a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category a:hover .category-name {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.article-latest {
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 1px 0 0 #eaeaea;
          box-shadow: 0 1px 0 0 #eaeaea;
  width: 100%;
}

.article-latest .article-latest-thumb {
  overflow: hidden;
}

.article-latest .article-latest-thumb a img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.article-latest .article-latest-thumb a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article-latest .article-latest-des {
  padding: 26px 30px 28px 30px;
}

.article-latest .article-latest-des .article-latest-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}

.article-latest .article-latest-des .article-latest-author {
  color: #b5b5b5;
  font-size: 14px;
  margin-bottom: 5px;
}

.article-latest .article-latest-des .article-latest-author .latest-time {
  font-size: 14px;
}

.article-latest .article-latest-des .simple-text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-latest .article-latest-des .article-action {
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
}

.article-latest .article-latest-des .article-action span {
  color: #a5a5a5;
  margin-right: 10px;
  display: inline-block;
}

.article-latest .article-latest-des .article-action span i {
  margin-right: 4px;
  font-size: 14px;
  vertical-align: top;
}

.post-thumb {
  display: block;
  overflow: hidden;
  width: 100%;
}

.post-thumb img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.post-thumb:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.light-text {
  color: #fff;
}

.title-end {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.8;
  display: block;
  margin-bottom: 5px;
}

.line {
  border-top: 1px solid #eaeaea;
}

.post-category a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  color: #666;
}

.post-action {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.tt-post-comment, .tt-post-views {
  margin-right: 10px;
}

.tt-post-comment i, .tt-post-views i {
  vertical-align: top;
  color: #ddd;
  margin-right: 4px;
}

.times {
  color: #b5b5b5;
  margin-bottom: 5px;
  font-size: 13px;
}

.list-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-article .article-item {
  width: 33.3%;
  padding: 10px;
}

.empty-space {
  height: 30px;
}

.box {
  border: 1px solid #eaeaea;
  padding: 30px;
  -webkit-box-shadow: 0 1px 0 0 #eaeaea;
          box-shadow: 0 1px 0 0 #eaeaea;
}

.box .about-me {
  text-align: center;
}

.tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #eaeaea;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.tag:hover {
  background-color: #4169e1;
  color: #fff;
}

.title-block {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.title-block .title-block-text {
  font-size: 14px;
  position: relative;
  font-weight: 600;
  line-height: 20px;
}

.title-block .title-block-text::before {
  display: block;
  position: absolute;
  content: '';
  height: 1px;
  background-color: #eaeaea;
  top: 50%;
  width: 100%;
}

.title-block .title-block-text span {
  z-index: 1;
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  position: relative;
}

.simple-text {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 400;
  color: #666;
  margin-bottom: 11px;
  display: block;
}

.sm-text {
  font-size: 16px !important;
}

.list-popular .popular-post-thumb {
  overflow: hidden;
}

.list-popular .popular-post-thumb a {
  display: block;
  overflow: hidden;
}

.list-popular .popular-post-thumb a img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: block;
}

.list-popular .popular-post-thumb a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.list-popular .popular-post-info a {
  font-size: 13px;
  font-weight: 600;
}

.list-popular .popular-post-sm {
  border-top: 1px solid #eaeaea;
  padding: 12px 0;
  clear: both;
}

.list-popular .popular-post-sm .popular-post-thumb {
  width: 80px;
  float: left;
}

.list-popular .popular-post-sm .popular-post-info {
  padding: 0 0 12px 92px;
}

.center {
  text-align: center;
}

.link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  display: block;
  text-align: center;
  font-weight: 700;
}

.text-left {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
}

footer .footer-container {
  width: 100%;
  padding: 70px 10px;
  background-color: #0f0f0f;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}

footer .footer-container .footer-content {
  font-family: 'Karla', sans-serif;
}

footer .line {
  border-color: rgba(255, 255, 255, 0.18);
}

.list-social li {
  display: block;
  margin-bottom: 10px;
  max-width: 200px;
  width: 100%;
}

.list-social li a {
  display: block;
  width: 100%;
  padding: 10px 23px 8px 23px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.list-social li a i {
  vertical-align: bottom;
}

.list-social li a:hover {
  opacity: 0.5;
}

.list-social li:nth-child(1) a {
  background-color: #485f95;
}

.list-social li:nth-child(2) a {
  background-color: #49c4f0;
}

.list-social li:nth-child(3) a {
  background-color: #ff4970;
}
/*# sourceMappingURL=style.css.map */